<!DOCTYPE html>
<html>
<head>
    <title>Demo Weather App - Charles Morman</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#df8a57">
    <link href="../static/css/output.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <script>
        const weatherStyle = {
            //themeID: {targetClass: list-of classes-to add-to the-element}
            defaultStyle: {
                "weather-main-style": "text-teal-950 placeholder-teal-950 bg-gradient-to-br from-cyan-200 to-teal-200",
                "weather-text-accent-color": "text-teal-700",
                "weather-bg-accent-color": "bg-teal-800/40 placeholder-teal-950",
                "weather-bg-hover-color": "hover:bg-teal-600/30 hover:placeholder-teal-950"
            },
            clearDay: {
                "weather-main-style": "text-amber-950 placeholder-amber-950 bg-gradient-to-br from-orange-300 to-red-300",
                "weather-text-accent-color": "text-amber-700",
                "weather-bg-accent-color": "bg-amber-700/40 placeholder-amber-950",
                "weather-bg-hover-color": "hover:bg-amber-500/30 hover:placeholder-amber-950"
            },
            clearNight: {
                "weather-main-style": "text-slate-300 placeholder-slate-300 bg-gradient-to-br from-slate-900 to-black",
                "weather-text-accent-color": "text-slate-400",
                "weather-bg-accent-color": "bg-slate-500/40 placeholder-slate-300",
                "weather-bg-hover-color": "hover:bg-slate-500/30 hover:placeholder-slate-300"
            },
            cloudyDay: {
                "weather-main-style": "text-gray-900 placeholder-gray-950 bg-gradient-to-br from-stone-200 to-gray-400",
                "weather-text-accent-color": "text-gray-700",
                "weather-bg-accent-color": "bg-gray-700/40 placeholder-gray-950",
                "weather-bg-hover-color": "hover:bg-gray-500/30 hover:placeholder-gray-950"
            },
            cloudyNight: {
                "weather-main-style": "text-gray-50 placeholder-gray-50 bg-gradient-to-br from-gray-700 to-gray-900",
                "weather-text-accent-color": "text-gray-200",
                "weather-bg-accent-color": "bg-gray-200/40 placeholder-gray-50",
                "weather-bg-hover-color": "hover:bg-gray-400/30 hover:placeholder-gray-50"
            },
            rainyDay: {
                "weather-main-style": "text-slate-900 placeholder-slate-950 bg-gradient-to-br from-gray-300 to-slate-400",
                "weather-text-accent-color": "text-slate-700",
                "weather-bg-accent-color": "bg-slate-600/40 placeholder-slate-950",
                "weather-bg-hover-color": "hover:bg-slate-500/30 hover:placeholder-slate-950"
            },
            rainyNight: {
                "weather-main-style": "text-slate-50 placeholder-slate-50 bg-gradient-to-br from-slate-900 to-teal-950",
                "weather-text-accent-color": "text-slate-200",
                "weather-bg-accent-color": "bg-slate-200/40 placeholder-slate-50",
                "weather-bg-hover-color": "hover:bg-slate-400/30 hover:placeholder-slate-50"
            }
        };
        
        function mapWeatherCode(weatherCode) {
            // Map weather codes from OpenWeatherMap API to themeID
            //
            // Day icon	    Night icon	    Description
            // ------------------------------------------------
            // 01d.png 	    01n.png 	    clear sky
            // 02d.png 	    02n.png 	    few clouds
            // 03d.png 	    03n.png 	    scattered clouds
            // 04d.png 	    04n.png 	    broken clouds
            // 09d.png 	    09n.png 	    shower rain
            // 10d.png 	    10n.png 	    rain
            // 11d.png 	    11n.png 	    thunderstorm
            // 13d.png 	    13n.png 	    snow
            // 50d.png 	    50n.png 	    mist

            if (weatherCode == "01d") {
                return "clearDay";
            }
            else if (weatherCode == "01n") {
                return "clearNight";
            }
            else if (weatherCode == "02d" || weatherCode == "03d" || weatherCode == "04d") {
                return "cloudyDay";
            }
            else if (weatherCode == "02n" || weatherCode == "03n" || weatherCode == "04n") {
                return "cloudyNight";
            }
            else if (weatherCode == "09d" || weatherCode == "10d" || weatherCode == "11d" || weatherCode == "13d" || weatherCode == "50d") {
                return "rainyDay";
            }
            else if (weatherCode == "09n" || weatherCode == "10n" || weatherCode == "11n" || weatherCode == "13n" || weatherCode == "50n") {
                return "rainyNight";
            }
            else {
                return "defaultStyle";
            }
        }
        function applyTheme(themeID) {
            // Check for the theme
            if (!weatherStyle[themeID]) {
                console.error(`Theme "$themeID" not found in theme collection.`);
                return;
            }
            // Iterate through each target class in the theme ID
            for (const targetClass in weatherStyle[themeID]) {
                const newClasses = weatherStyle[themeID][targetClass].split(" ");
                const themeElements = document.querySelectorAll(`.${targetClass}`);
                // Remove the old theme classes
                themeElements.forEach(element => {
                    for (const otherTheme in weatherStyle) {
                        if (otherTheme === themeID) continue;
                        const oldClasses = weatherStyle[otherTheme][targetClass]?.split(" ");
                        if (oldClasses.length > 0) {
                            element.classList.remove(...oldClasses);
                        }
                    }
                // Add the new theme classes
                element.classList.add(...newClasses);
                });
            }
        }
  
    </script>

</head>
<body class="weather-main-style min-h-screen max-h-screen bg-gradient-to-br flex items-center justify-center">

    <!-- Weather UI -->
    <div class="relative w-80 text-right my-auto mx-auto">
        {% if weather %}
            <!-- Card -->
            <!-- Weather Icon -->
            <img class="absolute z-20 -top-20 -left-20" src="https://openweathermap.org/img/wn/{{weather.icon}}@4x.png" alt="Weather Icon">
            <!-- Card Header -->
            <div class="weather-bg-accent-color relative z-10 h-12 backdrop-blur-lg rounded-t-xl shadow-lg pl-8 flex items-center justify-center">
                <!-- Weather Location -->
                <h1 class="text-2xl font-bold">{{weather.city}},<span class="text-xl italic mb-4 font-normal"> AZ</span></h1>
            </div>
            <!-- Card Body -->
            <div class="w-80 p-6 bg-white/30 backdrop-blur-lg rounded-b-xl shadow-lg items-center justify-center text-center">
                <!-- Temperature -->
                <div>
                    <h2 class="text-9xl font-bold ml-4">{{weather.temperature}}<span class="weather-text-accent-color relative text-4xl -top-14">°F</span></h2>
                </div>
                <!-- Divider -->
                <div class="h-1 w-1/3 weather-bg-accent-color  mx-auto"></div> 
                <!-- Weather Details -->
                <p class="text-inherit/80 mt-2 text-lg">
                    {{weather.description}}
                </p>
                <p class="text-inherit/60 text-sm italic mb-2">
                    Humidity: {{weather.humidity}}%
                </p>
            </div>
        {% endif %}
        <!-- Search Box -->
        {% if not weather %}
        <div class="w-80 -mb-5 text-left flex items-center justify-center">
            <h2 class="text-3xl">Search the <span class="font-bold italic">Weather</span></h2>
        </div>
        {% endif %}
        <div class="w-80 mt-10 text-left flex items-center justify-center">
            <form method="POST" action="/" class="flex">
                <input type="text" name="city" placeholder="Enter a city" class="weather-bg-accent-color weather-bg-hover-color grow shrink p-2 mr-1 italic rounded-lg shadow-sm" required>
                <button type="submit" class="weather-bg-accent-color weather-bg-hover-color shrink px-4 py-2 rounded-lg shadow-sm font-bold">
                    Search
                </button>
            </form>
        </div>
        {% if error %}
        City not found. Please enter only the city name.
        {% endif %}
    </div>
    <!-- Footer -->
    <div class="absolute text-center bottom-2 text-sm">
        <p>Developed by Charles Morman © 2024</p>
        <div class="flex space-x-4 text-xl justify-center p-2">
            <!-- GitHub -->
            <a href="https://github.com/cmorman89" target="_blank">
                <i class="fab fa-github w-8 h-8"></i>
            </a>
            <!-- LinkedIn -->
            <a href="https://www.linkedin.com/in/charlesmorman" target="_blank">
                <i class="fab fa-linkedin w-8 h-8"></i>
            </a>
            <!-- Website -->
            <a href="https://www.github.io/cmorman89" target="_blank">
                <i class="fas fa-globe w-8 h-8"></i>
            </a>
            <!-- Email -->
            <a href="mailto:developer@cmorman.com">
                <i class="fas fa-envelope w-8 h-8"></i>
            </a>
        </div>
        <p>Powered by <a class="underline" href="https://openweathermap.org">OpenWeatherMap</a>'s API.</a></p>
    </div>

    <script>
        // Set the theme based on weather.
        var themeIcon = "defaultStyle";
        {% if weather %}
        themeIcon = `{{weather.icon}}`;
        {% endif %}
        applyTheme(mapWeatherCode(themeIcon));
    </script>
</body>
</html>